<h1>Todas as tasks</h1>
<ul class="task-list">
  {{#each tasks}}
    <li>
      <a href="/tasks/{{id}}" class="title{{#if done}} done{{/if}}">{{title}}</a>
      <div class="actions">
        <form action="/tasks/updatestatus/" method="POST">
          <input type="hidden" name="id" value="{{id}}" />
          <input type="hidden" name="done" value="{{done}}" />
          <button type="submit">
            <i class="bi bi-check2"></i>
          </button>
        </form>
        <form action="/tasks/edit/{{id}}" method="GET">
          <button type="submit">
            <i class="bi bi-pencil-square"></i>
          </button>
        </form>
        <form action="/tasks/remove" method="POST">
          <input type="hidden" name="id" value="{{id}}" />
          <button type="submit">
            <i class="bi bi-x-lg"></i>
          </button>
        </form>
      </div>
    </li>
  {{/each}}
</ul>